lunyoro-translator/backend/model/**/*.bin filter=lfs diff=lfs merge=lfs -text
lunyoro-translator/backend/model/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
lunyoro-translator/backend/model/**/*.pkl filter=lfs diff=lfs merge=lfs -text
